body {
  background-color: #282c34;
  color: white;
  font-family: "Sono", sans-serif;
  font-size: 1rem;
}

li {
  margin: 20px 0 20px 0;
}

p {
  margin: 20px;
}

.card {
  margin-bottom: 20px;
}

.btn-dark-blue {
  background-color: #0056b3;
  border-color: #0056b3;
  color: white;
  width: 30%;
  margin: 0 auto;
}
.btn-dark-blue:hover {
  background-color: #004494;
  border-color: #003a7c;
  color: grey;
}

.container {
  width: 100%; /* Default: Mobile (small screens) */
  margin: 0 auto;
}

@media (min-width: 576px) {
  /* Small screens (larger than mobile) */
  .container {
    width: 70%;
  }
}

@media (min-width: 992px) {
  /* Large screens */
  .container {
    width: 60%;
  }
}
/* Styles for the fixed icon */
#fixed-icon {
  position: fixed;
  top: 20px; /* Adjust top margin as needed */
  left: 20px; /* Adjust left margin as needed */
  z-index: 100; /* Ensure it's on top of other elements */
}

.concept-box {
  margin: 0 20px 20px;
  background-color: #ffe6e6;
  border-radius: 5px;
  padding: 25px;
}

.concept {
  color: #cc0000;
  margin: 0 0 20px 0;
  padding: 0;
}

.cover {
  color: #bbbb55;
  background-color: #bbbb55;
  border-radius: 3px;
  cursor: pointer;
}

.redacted {
  color: #cc0000;
  background-color: #cc0000;
  border-radius: 3px;
  cursor: pointer;
}

.unredacted {
  background-color: transparent;
  color: inherit;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.task-box {
  margin: 0 20px 20px;
  background-color: #ffffcc;
  border-radius: 5px;
  padding: 25px;
}
.screenshot {
  max-width: 100%;
  border-radius: 5px;
  margin: 20px auto;
}

pre {
  background-color: #f5f5f5; /* Light background color */
  border: 1px solid #ccc; /* Subtle border */
  padding: 10px; /* Add some padding */
  overflow: auto; /* Add scrollbar if code overflows */
  /* Optional: Add line numbers */
  counter-reset: line;
  white-space: pre-wrap; /* Preserve line breaks and wrap long lines */
  margin-top: 20px;
}

pre code {
  display: block; /* Ensures proper spacing */
  counter-increment: line;
  margin-left: 20px; /* Indent the code */
}
